<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">Postcode.nl Plugin</label>
    <label lang="de">Postcode.nl Plugin</label>

    <version>5.1.1.2</version>
    <copyright>Memo ICT</copyright>
    <license>MIT</license>
    <link>https://www.memo-ict.nl</link>
    <author>Memo ICT</author>
    <compatibility minVersion="5.6.0" />

    <description lang="en">
        <![CDATA[
            <h1>Postcode.nl Plugin</h1>
            <p>This plugin adds autocompletion for Dutch addresses. When entering a billing or shipping address users only need to provide a postal code and house number,
            all other address fields will be instantly completed!
            </p><p>
            The Postcode.nl address API is used to retrieve up-to-date data from official Dutch government databases.
            </p>
            <h2>Registering a postcode.nl account</h2>
            <p>
            This plugin is free to try out. However, a Postcode.nl subscription is required for production use. Creating an account only takes a few minutes: create an account
            </p>

            <h3>About Postcode.nl</h3>
            <p>Established in 1999, Postcode.nl is a trusted and well-known partner for address information in the Netherlands. Postcode.nl supplies databases to government agencies
            , postal services, utility companies, banks, and insurance companies. The Postcode.nl API is used by thousands of webshops every day. Learn more at www.postcode.nl</p>

            <h3 style="color:red;">Warning: for this service you wille need a API key from <a href="https://www.postcode.nl">Postcode.nl</a></h3>
        ]]>
    </description>

    <description lang="de">
        <![CDATA[
            <h1>Postcode.nl Plugin</h1>
            <p>Dieses Plugin fügt Ihrem Checkout automatisch die Auffüllung niederländischer Adressen hinzu. Wenn eine Adresse eingegeben werden muss, muss der Kunde nur seine
            Postleitzahl und Hausnummer eingeben und die vollständige Adresse wird sofort hinzugefügt!</p>

            <p>Die Adress API von Postcode.nl verwendet aktuelle Informationen aus offiziellen Regierungsquellen.</p>

            <h3>Registrieren Sie ein Postcode.nl Konto</h3>
            <p>Das Plugin kann kostenlos getestet werden, aber ein <a href="https://www.postcode.nl/en/services/adresdata/producten-overzicht"> Postcode.nl Abo</a> ist erforderlich,
            um den Dienst tatsächlich zu betreiben benutze es. Das Erstellen eines Kontos dauert nur wenige Minuten: <a href="https://account.postcode.nl">erstellen sie ein Konto</a>.</p>

            <h3>Über Postcode.nl BV</h3>
            <p>Postcode.nl wurde 1999 gegründet und ist eine vertrauliche, bekannte Webseite in den Niederlanden. Postcode.nl liefert Datenbanken an Regierungsbehörden, die Post, an Versorgungsunternehmen, Banken, Versicherungsgesellschaften etc.
            Das Postleitzahl.nl. API wird von tausenden von Webshops benutzt.</p>

            <h3 style="color:red;">Hinweis: Sie benötigen einen API-Schlüssel von  <a href="https://www.postcode.nl">Postcode.nl</a></h3>
        ]]>
    </description>

    <description lang="nl">
    <![CDATA[
            <h1>Postcode.nl Plugin</h1>
            <p>Deze plugin voegt automatisch aanvullen van Nederlandse adressen toe aan je checkout. Wanneer een adres moet worden ingevuld hoeft de klant alleen maar zijn postcode en
            huisnummer op te geven en het volledige adres wordt direct aangevuld!</p>

            <p>De Postcode.nl adres API maakt gebruik van up-to-date gegevens uit officiële overheidsbronnen.</p>

            <h3>Registreren Postcode.nl account</h3>
            <p>De plugin kan gratis worden getest, maar een <a href="https://www.postcode.nl/en/services/adresdata/producten-overzicht">Postcode.nl  abonnement</a> is noodzakelijk om de dienst
            daadwerkelijk te gebruiken. Het aanmaken van een account is binnen enkele minuten gebeurd:<a href="https://account.postcode.nl”>aanmaken account</a>.</p>

            <h3>Over Postcode.nl</h3>
            Opgericht in 1999, Postcode.nl is een vertrouwde en bekende partner op het gebied van adresdata. Postcode.nl levert postcode databases aan o.a. overheden, logistieke partijen, nuts bedrijven, banken, en verzekeringsmaatschappijen. De Postcode.nl API wordt elke dag gebruikt door duizenden webshops. Lees meer op <a href="https://www.postcode.nl/">www.postcode.nl<a/>.

            <h3 style="color:red;">Let op: Je bent hiervoor een API key nodig van <a href="https://www.postcode.nl">Postcode.nl</a></h3>
        ]]>
    </description>

    <changelog version="5.1.1.2">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Fixed an issue where using Google Chrome auto-fill addresses could lead to the registration being blocked</li>
                <li>Updated Postcode.eu Autocomplete library to 1.2</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Ein Problem wurde behoben, bei dem die Nutzung von Google Chrome zum automatischen Ausfüllen von Adressen dazu führen konnte, dass die Registrierung blockiert wurde</li>
                <li>Postcode.de Autocomplete auf 1.2 aktualisiert</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Probleem opgelost waarbij het automatisch invullen van adressen in Google Chrome ertoe kon leiden dat de registratie werd geblokkeerd</li>
                <li>Postcode. Autocomplete bijgewerkt naar 1.2</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="5.1.1.1">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Fixed a bug where hidden fields were set as required when registering a different shipping address</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Fehler behoben, bei dem ausgeblendete Felder als erforderlich gesetzt wurden, wenn eine abweichende Lieferadresse registriert wurde</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Een bug verholpen waarbij verborgen velden als verplicht werden ingesteld bij het invoeren van een afwijkend afleveradres tijdens de registratie.</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="5.1.1.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Fixed a bug preventing the address from being autofilled after an invalid registration</li>
                <li>Fixed a bug that caused the plugin to not work with shops in a subdirectory</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Fehler behoben, durch den die Adresse nach einer ungültigen Registrierung nicht automatisch ausgefüllt wurde</li>
                <li>Fehler behoben, durch den das Plugin nicht mit Shops in einem Unterverzeichnis funktionierte</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Een bug verholpen die ervoor zorgde dat het adres na een ongeldige registratie niet automatisch werdt ingevuld.</li>
                <li>Een bug verholpen die ervoor zorgde dat de plugin niet werkte met shops in een subdirectory</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="5.1.0.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Switched to semantic versioning</li>
                <li>Fixed problems with address data not showing when editing an address</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Auf semantische Versionierung umgestellt</li>
                <li>Probleme mit nicht angezeigten Adressdaten beim Bearbeiten einer Adresse behoben</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Overgeschakeld naar semantische versiebeheer</li>
                <li>Problemen met adresgegevens die niet worden weergegeven bij het bewerken van een adres zijn opgelost</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="3.1.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Added option for dutch addresses to allow customers to overwrite the found streetname and city. Only works for dutch addresses using the Dutch Address API, not with the autocomplete API.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Option für holländische Adressen hinzugefügt, damit Kunden den gefundenen Straßennamen und Ort überschreiben können. Funktioniert nur für holländische Adressen mit der API für holländische Adressen, nicht mit der Autovervollständigungs-API.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Optie toegevoegd voor Nederlandse adressen om klanten in staat te stellen de gevonden straatnaam en stad te overschrijven. Werkt alleen voor Nederlandse adressen gevonden met behulp van de Nederlandse Adressen-API, niet met de autocomplete API.</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="3.0.2">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Fixed a bug which wouldn't let you continue registration.</li>
                <li>Solved issues with the "OK" message appearing when testing credentials regardless of actual status.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Ein Fehler wurde behoben, durch den Sie die Registrierung nicht fortsetzen konnten.</li>
                <li>Probleme mit der "OK"-Meldung beim Testen von Berechtigungsnachweisen unabhängig vom tatsächlichen Status behoben.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Een bug opgelost waardoor je niet verder kon gaan met de registratie.</li>
                <li>Problemen opgelost met het "OK"-bericht dat verschijnt bij het testen van de referenties, ongeacht de werkelijke status.</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="3.0.1">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Fixed null value when entering a non-existing housenumber addition.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Nullwert bei der Eingabe einer nicht vorhandenen Hausnummernzugabe korrigiert.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Null waarde bij het invoeren van een niet-bestaande huisnummer toevoeging verholpen.</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="3.0.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Added option to use the Dutch Address API for Dutch addresses.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Option zur Verwendung der niederländischen Adress-API für niederländische Adressen hinzugefügt.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Optie toegevoegd om de Nederlandse Adressen-API te gebruiken voor Nederlandse adressen.</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="2.0.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Adapted for use with the new autocomplete API</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Angepasst für die Verwendung mit der neuen Autovervollständigungs-API</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Aangepast voor gebruik met de nieuwe autocomplete API</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="en">
            <![CDATA[
                <ul>
                <li>Shopware 5.6 compatibility</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                <li>Shopware 5.6 kompatiblität</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                <li>Shopware 5.6 Compatibiliteit</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>First Release</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Erstes Release</li>
                </ul>
            ]]>
        </changes>
        <changes lang="nl">
            <![CDATA[
                <ul>
                    <li>Eerste release</li>
                </ul>
            ]]>
        </changes>
    </changelog>
</plugin>
