<?xml version="1.0" encoding="utf-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/localware/localware/5.2/engine/localware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text" scope="shop">
            <name>memoPostcodenlKey</name>
            <label lang="de">Postcode.nl Key</label>
            <label lang="en">Postcode.nl Key</label>
            <label lang="nl">Postcode.nl Key</label>
        </element>
        <element type="text" scope="shop">
            <name>memoPostcodenlSecret</name>
            <label lang="de">Postcode.nl Secret</label>
            <label lang="en">Postcode.nl Secret</label>
            <label lang="nl">Postcode.nl Secret</label>
        </element>
    </elements>
</config>