<?xml version="1.0" encoding="utf-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/localware/localware/5.2/engine/localware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text">
            <name>memoPostcodenlKey</name>
            <label lang="de">Postcode.nl Key</label>
            <label lang="en">Postcode.nl Key</label>
            <label lang="nl">Postcode.nl Key</label>
        </element>
        <element type="text">
            <name>memoPostcodenlSecret</name>
            <label lang="de">Postcode.nl Secret</label>
            <label lang="en">Postcode.nl Secret</label>
            <label lang="nl">Postcode.nl Secret</label>
        </element>

        <element type="boolean">
            <name>memoUseDutchAddressAutocomplete</name>
            <label>Use Autocomplete for dutch addresses</label>
            <label lang="de-DE">Verwenden Sie Autocomplete für niederländische Adressen</label>
            <label lang="nl-NL">Autocomplete gebruiken voor nederlandse adressen</label>
            <description>The plugin will use the dutch address API for dutch addresses by default, instead of the
                international autocomplete API. Activate this to force using the autocomplete API for dutch addresses.
            </description>
            <description lang="de-DE">Das Plugin verwendet standardmäßig die holländische Adress-API für holländische
                Adressen anstelle der internationalen Autovervollständigungs-API. Aktivieren Sie dies, um die Verwendung
                der Autovervollständigungs-API für holländische Adressen zu erzwingen.
            </description>
            <description lang="nl-NL">De plugin zal standaard de Nederlandse adres API gebruiken voor Nederlandse
                adressen, in plaats van de internationale autocomplete API. Activeer dit om het gebruik van de
                autocomplete API voor Nederlandse adressen te forceren.
            </description>
        </element>
        <element type="boolean">
            <name>memoAllowDutchAddressOverride</name>
            <label>Allow the fetched dutch address to be overwritten by the customer</label>
            <label lang="de-DE">Erlauben Sie dem Kunden, die gefundene niederländische Adresse zu überschreiben</label>
            <label lang="nl-NL">Toestaan dat de klant het gevonden nederlandse adres kan overschrijven</label>
            <description>This does not apply to addresses found with the autocomplete feature</description>
            <description lang="de-DE">Dies gilt nicht für Adressen, die mit der Autovervollständigungsfunktion gefunden wurden</description>
            <description lang="nl-NL">Dit geldt niet voor adressen die gevonden zijn met de autocomplete functie</description>
        </element>
        <element type="boolean">
            <name>memoShowOverrideWhenNotFound</name>
            <label>Only shows the address override when the address could not be found</label>
            <label lang="de-DE">Zeigt die Adressüberschreibung nur an, wenn die Adresse nicht gefunden werden konnte</label>
            <label lang="nl-NL">Laat klanten alleen het adres overschrijven als het adres niet kan worden gevonden</label>
            <description>Only applies to dutch addresses when overwriting is allowed</description>
            <description lang="de-DE">Gilt nur für niederländische Adressen, wenn Überschreiben erlaubt ist</description>
            <description lang="nl-NL">Alleen van toepassing op Nederlandse adressen wanneer overschrijven is toegestaan</description>
        </element>


        <element type="button">
            <name>buttonTest</name>
            <label lang="de">Verbindung testen</label>
            <label lang="en">Test Connection</label>
            <label lang="nl">Test Connection</label>
            <options>
                <handler>
                    <![CDATA[
                        function() {
                            Ext.Ajax.request({
                                url: 'PostcodenlTestConnection/test',
                                success: function (response) {
                                    console.log(response);
                                    let json = JSON.parse(response.responseText);
                                    Shopware.Msg.createGrowlMessage(json.responseType, json.response)
                                },
                                failure: function (response) {
                                    if (response.status === 404) {
                                        Shopware.Msg.createGrowlMessage('Plugin Manager', 'Please activate plugin before testing api.');
                                    } else {
                                        Shopware.Msg.createGrowlMessage(response.statusText, response.responseText);
                                    }
                                }
                            });
                        }
                ]]>
                </handler>
            </options>
        </element>
    </elements>
</config>
